# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List open source development environments for Data Science
- Show simple arithmetic operations in Python
- Demonstrate simple markdown in Jupyter Notebook

## Author
Joe Litman

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. TensorFlow
3. Pandas
4. NumPy

Data Science Tools|
------------------|
Jupyter|
Apache Zeppelin|
RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335